<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Products</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div th:switch="${products}" class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<h2 th:case="null">There are no products</h2>
				<div th:case="*">
					<h2 class="my-5">Products</h2>
					<table class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>ID</th>
								<th>Product number</th>
								<th>Name</th>
								<th>Style</th>
								<th>Days to manufacture</th>
								<th>Sell start date</th>
								<th>Sell end date</th>
								<th>Product Category</th>
								<th>Product Subcategory</th>
								<th>Unit measure 1</th>
								<th>Unit measure 2</th>
								<th>Product number query</th>
								<th>Style Query</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="prod : ${products}">
								<td th:text="${prod.productid}"></td>
								<td th:text="${prod.productnumber}"></td>
								<td th:text="${prod.name}"></td>
								<td th:text="${prod.style}"></td>
								<td th:text="${prod.daystomanufacture}"></td>
								<td th:text="${prod.sellstartdate}"></td>
								<td th:text="${prod.sellenddate}"></td>
								<td th:text="${prod.productsubcategory.productcategory.name}"></td>
								<td th:text="${prod.productsubcategory.name}"></td>
								<td th:text="${prod.unitmeasure1.name}"></td>
								<td th:text="${prod.unitmeasure2.name}"></td>
								<td><a th:href="@{/product/productnumber/{pnum}(pnum=${prod.productnumber})}" 
									class="btn btn-primary"><i class="fa fa-search"></i></a></td>
								<td><a th:href="@{/product/style/{style}(style=${prod.style}}" 
									class="btn btn-primary"><i class="fa fa-search"></i></a></td>
								<td><a th:href="@{/product/edit/{id}(id=${prod.productid})}"
									class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
								<td><a th:href="@{/product/del/{id}(id=${prod.productid})}"
									class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<p>
					<a href="/product/add" class="btn btn-primary"><i
						class="fas fa-user-plus ml-2"></i> Add a product</a>
				</p>
				<p>
					<label for="pnum" class="col-form-label">Product Number</label> <input
								type="text" th:name="pnum" class="form-control" id="pnum"
								placeholder="Number"> 
					<a th:href="@{/product/productnumber/{pnum}(pnum=${pnum})}" class="btn btn-primary"><i class="fa fa-search"></i>Search for a product with a given product number</a>	
				</p>
				<p>
					<label for="style" class="col-form-label">Style</label> <input
								type="text" th:name="style" class="form-control" id="style"
								placeholder="Style"> 
					<a th:href="@{/product/style/{style}(style=${style}}" class="btn btn-primary"><i class="fa fa-search"></i>Search for products with a given style</a>	
				</p>
				<p>
					<label for="pStartQuery" class="col-form-label">From</label> <input
								type="date" th:name="sellstartdate" class="form-control" id="pStartQuery">
					<label for="pEndQuery" class="col-form-label">To</label> <input
								type="date" th:name="sellenddate" class="form-control" id="pEndQuery"> 
					<a th:href="@{/product/{sellstartdate}/to/{sellenddate}(sellstartdate=${sellstartdate}, sellenddate=${sellenddate})}" class="btn btn-primary"><i class="fa fa-search"></i>Search for products with a given style</a>	
				</p>
				<p>
					<a href="/admin/"><i class="fas fa-user-edit ml-2"></i> Go to Admin Menu</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>